<%- include("partials/header") -%>


<h1 class="center-align white-text lighten-3">Welcome to Your home page Mr. <%= name%></h1>

<p>Below you will find the details of all the active Paitents in the facility right now</p>
<table class="table container" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Height</th>
      <th scope="col">Weight</th>
      <th scope="col">Disease</th>
      <th scope="col">Review</th>
      <th scope="col">Blood Pressure</th>
      <th scope="col">More Info</th>
    </tr>
  </thead>

<tbody>
  <th scope="col">#</th>
  <th scope="col">Name</th>
  <th scope="col">Age</th>
  <th scope="col">Height</th>
  <th scope="col">Weight</th>
  <th scope="col">Disease</th>
  <th scope="col">Review</th>
  <th scope="col">Blood Pressure</th>
  <th scope="col">More Info</th>
</tbody>
</table>
<%- include("partials/footer") -%>
